* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

main {
	max-width: 800px;
	margin: auto;
}

pre {
	tab-size: 4;
}

a {
	color: rgb(0, 110, 101);
}

li a {
	text-decoration: none;
}

li a:hover {
	text-decoration: underline;
}

.top-level-li {
	margin: 1em 0;
}

.popover {
	position: absolute;
	max-width: min(500px, calc(100vw - 16px));
	background: white;
	border: 1px solid #aaa;
	border-radius: 5px;
	padding: 0.7em;
	filter: drop-shadow(4px 4px 4px #0006);
	z-index: 1;
}

body.suppress-popovers .popover {
	visibility: hidden !important;
	pointer-events: none !important;
}

.popover {
	visibility: hidden;
	pointer-events: none;
}

.popover-parent:hover .popover,
.popover:hover {
	visibility: visible;
	pointer-events: all;
}

.popover-reference {
	position: relative;
}

.grayed-out {
	color: #888;
}

.bold {
	font-weight: bold;
}
