* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	overflow-y: scroll;
}

:root {
	--vh: 1vh; /* modified in JS to give accurate results on mobile */
	--color-primary: #1d9222;
	--color-primary-emphasized: #107916;
	--grid-maxWidth: 62rem;
	--page-padding: 1.8rem;
	--footer-padding: 1.2rem;
	--color-placeholder: #aaa;

	--popover-shadow: drop-shadow(1px 2px 4px #0006);
}

:root.dark {
	color-scheme: dark;

	--bg-color: #0f1012;
	--bg-secondary-color: #1e2024;
	--font-color: #f5f5f5;
	--color-grey: #bbb;
	--color-darkGrey: #888;
	/* `lightGrey` is functionally de-emphasized grey (name defined by Chota) */
	--color-lightGrey: #444;
	--color-primary-emphasized: #30dd39;
	--color-primary: #17bd1e;
	--color-error: #ea4f4f;
	--color-placeholder: #888;

	--popover-shadow: drop-shadow(1px 2px 4px #000f);
}

::placeholder {
	color: var(--color-placeholder);
}

input {
	background-color: var(--bg-color);
	color: var(--font-color);
}

:root.dark input {
	background-color: var(--bg-secondary-color);
}

:root.dark
	:is(.button.primary, .button.secondary, .button.dark, .button.error, .button.success, [type='submit']) {
	color: var(--bg-color);
}

a[href]:hover {
	opacity: initial;
}

button.swap {
	background-color: var(--bg-color);
	font-size: 1.2rem;
	padding-block: 0.5rem;
	padding-inline: 0.5rem;
	width: 2.5rem;
	color: var(--color-primary);
}

button.swap:hover {
	color: var(--color-primary-emphasized);
	font-weight: bold;
	background-color: none;
}

:is(button, .button.primary, .button, button[type='submit']):not([disabled]):hover {
	opacity: revert;
}

:is(.button.primary, button[type='submit']):not([disabled]):hover {
	background-color: var(--color-primary-emphasized);
}

main.container {
	margin-block: var(--page-padding);
	display: flex;
	flex-direction: column;
}

details summary {
	cursor: pointer;
}

p {
	margin-block-start: revert;
}

pre {
	tab-size: 4;
	border-radius: 5px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

nav a:hover {
	text-decoration: initial;
}

.y-margins {
	margin-block: 1em;
}

.top-level-li {
	margin: 1em 0;
}

.cognate-link--highlighted {
	font-weight: bold;
}

.cognate-link--lowlighted {
	opacity: 0.8;
}

:root.dark .cognate-link--lowlighted {
	opacity: 0.6;
}

.popover {
	position: absolute;
	max-width: min(500px, calc(100vw - 16px));
	background: var(--bg-color);
	border: 1px solid #aaa;
	border-radius: 5px;
	padding: 1rem;
	filter: var(--popover-shadow);
	z-index: 1;
}

:root.dark .popover {
	background: var(--bg-secondary-color);
}

.popover-reference {
	position: relative;
}

.grayed-out {
	color: var(--color-grey);
}

label[for='srcLang'],
label[for='trgLang'] {
	display: inline-block;
}

.arrow {
	color: #ccc;
}

.popover ol {
	margin-block-start: 1em;
	margin-block-end: 1em;
}

/* external links */
a[href^='http']:not([href^='%ROOT_URL%'])::after {
	margin: 0 0 0 0.2em;
	content: '';
	opacity: 0.7;
	padding: 0 0.34em;
	mask-size: 0.7em;
	background-color: var(--color-primary);
	mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="100px" width="100px" fill="%23000" viewBox="0 0 82 81" version="1.1" x="0px" y="0px"><title>Group</title><desc>Created with Sketch.</desc><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(0.000000, -17.000000)"><path d="M65.0787075,33.0882353 L33.4558824,64.3382354" stroke="%23000" stroke-width="15" stroke-linecap="square"></path><polygon fill="%23000" transform="translate(72.134903, 29.456845) rotate(53.000000) translate(-72.134903, -29.456845) " points="68.5556866 14.7245467 97.9172862 36.850099 46.3525203 44.1891435"></polygon><polygon fill="%23000" points="48.5294118 28.6764706 0 28.6764706 0 97.7941176 69.1176471 97.7941176 69.1176471 50 58.0882353 61.0294118 58.0882353 86.7647059 11.0294118 86.7647059 11.0294118 39.7058824 37.5 39.7058824"></polygon></g></g></svg>');
	mask-repeat: no-repeat;
	mask-position: 0 0.25em;
}

.footer-text {
	color: var(--color-grey);
	text-align: center;
	margin-block: var(--footer-padding);
}

@media screen and (max-width: 50rem) {
	:root {
		--footer-padding: 1.2rem;
	}
}

/* sticky footer */

.full-page {
	display: flex;
	flex-direction: column;
	min-height: calc(var(--vh) * 100 - 1px);
}

main.container {
	flex: 1 0 auto;
}

footer.container {
	flex-shrink: 0;
}

/* /sticky footer */

.build-info {
	cursor: help;
}

nav .active {
	cursor: default;
}

nav .disabled-tab,
nav .disabled-tab:hover {
	cursor: default;
	color: var(--color-lightGrey);
	border-color: var(--color-lightGrey);
}

.popover dl {
	margin-block: 0;
}

.color-scheme-switcher-container {
	margin-inline-start: 0.3rem;
	display: inline-block;
}

.color-scheme-switcher-container .color-scheme-switcher:not(:hover) {
	background: none;
}
.color-scheme-switcher-container .color-scheme-switcher {
	transition: background-color 0.1s linear, border-color 0.1s linear,
		color 0.1s linear, box-shadow 0.1s linear, transform 0.1s ease;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1.8rem;
	height: 1.8rem;
	margin: 0;
	padding: 0;
	border-radius: 1em;
}

.search-results__ancestor {
	height: 100%;
}

.search-results__ancestor--home-page {
	align-items: center;
	justify-content: center;
	flex: 1 0 auto;
	display: flex;
}

/* search form */
.search-results__outer {
	width: 100%;
	max-width: 100%;
}

.search-results__outer.search-results__outer--home-page {
	max-width: 36rem;
}

/* header */
.search-header__main-heading {
	margin-block-end: 0;
	display: flex;
	align-items: center;
	line-height: 1;
}

.search-header__logo {
	width: 1em;
	margin-inline-end: 0.15em;
}

.search-header__main-heading-text {
	margin-block-start: 0.1em;
}

.search-header__subheading {
	margin-block-end: 0.5em;
	font-size: 0.8em;
	color: var(--color-darkGrey);
}

.search-results__outer--home-page .search-header {
	font-size: 2rem;
}

.search-results__outer--home-page .search-header {
	font-size: 2rem;
}

.search-header__link,
.search-header__link:hover {
	all: unset;
	cursor: pointer;
}

.search-header__link:hover {
	color: var(--color-primary-emphasized);
}

@media screen and (max-width: 36rem) {
	.search-results__outer--home-page .search-header {
		font-size: 1.5rem;
	}
}

.example-links {
	margin-top: 2rem;
}

/* tooltip */

div.tooltip {
	--fg: var(--font-color);
	--bg: var(--bg-secondary-color);

	color: var(--fg);
	background: var(--bg);
}

div.tooltip::after {
	/* drop shadow hack to fix blurry rendering in Chrome */
	content: '';
	filter: var(--popover-shadow);
	display: block;
	position: absolute;
	inset: 0;
	background: inherit;
	border-radius: inherit;
	z-index: -1;
}

div.tooltip:not(.tooltip--has-arrow)::after {
	/* drop shadow hack to fix blurry rendering in Chrome */
	margin: inherit;
}

div.tooltip--emphasized {
	--fg: var(--bg-color);
	--bg: var(--font-color);
}

div.tooltip .tooltip__arrow {
	color: var(--bg);
}
